# Exercise 1: Python Basics

# Part 1: Print odd numbers between 0 and 100 inclusive.

In [1]:
# Printing odd numbers 0 - 100.
for x in range(0, 100+1):
  if(x % 2) == 1:
    print(x, end=", ")

1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99,

# Part 2: Even Summation between start and end

In [2]:
def even_summation(start, end):
  """
  This function takes in two numbers and returns the summation
  of all even integers in range.
  ARGS:
    @start:   start of the range
    @end:     end of the range
  RETURNS:
    @sum:     Summation of even numbers in [start, end]
  """
  sum = 0
  for x in range(start, end+1):
    if(x % 2) == 0:
      sum += x
  return sum

print(even_summation(4, 10))

28

# Part 3: List and functions

A. Defined an empty list and added 10 random numbers.

In [3]:
import random
a = [] # empty list
# getting 10 random numbers
for x in range(10):
  a.append(random.randint(1, 101))

print(a)

[90, 28, 55, 98, 94, 43, 86, 36, 95, 39]

B. Printing the maximum of the list.

In [4]:
print("The max of the list is", max(a))

The max of the list is 98

C. Printing the minimum of the list.

In [5]:
print("The min of the list is", min(a))

The min of the list is 28

D. Sorting the list.

In [6]:
a.sort()
print(a)

[28, 36, 39, 43, 55, 86, 90, 94, 95, 98]

E. Randomly shuffle the list.

In [7]:
random.shuffle(a)
print(a)

[36, 90, 94, 43, 28, 55, 95, 39, 86, 98]

F. Run the sort part with "Run the focused cell"

In [8]:
a.sort()
print(a)

[28, 36, 39, 43, 55, 86, 90, 94, 95, 98]

# Part 4: Define a dictionary.

In [9]:
b = {'a':1, 'd':4, 'b':2, 'c':3}
print(b)

{'a': 1, 'd': 4, 'b': 2, 'c': 3}

A. Sort the dictionary by keys.

In [10]:
from collections import OrderedDict
c = OrderedDict(sorted(b.items()))
print(c)

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

B. Sort the dictionary by values in descending order.

In [11]:
c = sorted(b.items(), key=lambda x: x[1], reverse=True)
print(c)

[('d', 4), ('c', 3), ('b', 2), ('a', 1)]

C. Add new tuple to the dictionary {'e': 5}

In [12]:
b.update({'e':5})
print(b)

{'a': 1, 'd': 4, 'b': 2, 'c': 3, 'e': 5}